.form-control { 
    width: 1000px;
    max-width: 1000px;
}

.name {
    align: center;
}

.textBox {
    float: left;
}

.askMe {
    display: block;
    margin: auto;
}

.btn-lg {
    margin: 10px;
}

textarea {
    background-color: blue;
}

.fillColor {
    margin: .5rem;
    background: rgba(0,255,0,0.1);
}

textarea:focus {
    color: #222;
}
